# Table of Contents
1. [Variables](#Ô∏è‚É£-variables)
2. [Structures](#üèö-structures)
3. [Operators](#‚ùó-operators)
4. [Functions](#üÜí-functions)
5. [For Loop](#for-loop)
6. [While Loop](#while-loop)
7. [Native Data](#native-data)
    1. [Broadcasting Operators and Functions](#broadcasting-operators-and-functions)
    2. [Functions with a bang](#functions-with-a-bang)
    3. [Strings](#strings)
    4. [String Manipulation](#string-manipulation)
    5. [Dictionaries](#dictionaries)
    6. [Splat Operator](#splat-operator)
8. [Julia Dates](#julia-dates)
    1. [Date and DateTime](#date-and-datetime-types)
9. [Random](#random-numbers)
10. [DataFrames](#üìë-dataframes)

#### Libraries

In [209]:
using Dates
using DataFrames
using CSV

# #Ô∏è‚É£ Variables

Most used:
* Integer: ```Int64```
* Real Numbers: ```Float64```
* Boolean: ```Bool```
* Strings: ```String```

In [210]:
name = "Julia"
age = 11
active = true
currency = 4.56

println(typeof(name))
println(typeof(age))
println(typeof(active))
println(typeof(currency))

String
Int64
Bool
Float64

# üèö Structures

In [211]:
struct Language
    name::String
    title::String
    year_of_birth::Int64
    fast::Bool
end

### You can list field names of structs

In [212]:
fieldnames(Language)

(:name, :title, :year_of_birth, :fast)

## Use of Structs

In [213]:
julia = Language("Julia", "Rapidus", 2012, true)
python = Language("Python", "Letargicus", 1991, false)

Language("Python", "Letargicus", 1991, false)

In [214]:
function printLanguage(lang::Language)
    type = typeof(lang)
    name = lang.name
    title = lang.title
    year = lang.year_of_birth
    fast = lang.fast ? "Yes" : "No"
    println("Type: $type; Name: $name, Title: $title, Year: $year, Fast: $fast")
end

function printLanguage(lang::MutLanguage)
    type = typeof(lang)
    name = lang.name
    title = lang.title
    year = lang.year_of_birth
    fast = lang.fast ? "Yes" : "No"
    println("Type: $type; Name: $name, Title: $title, Year: $year, Fast: $fast")
end

printLanguage (generic function with 2 methods)

In [215]:
printLanguage(julia)
printLanguage(python)

Type: Language; Name: Julia, Title: Rapidus, Year: 2012, Fast: Yes
Type: Language; Name: Python, Title: Letargicus, Year: 1991, Fast: No

### Mutable Struct

In [216]:
mutable struct MutLanguage
    name::String
    title::String
    year_of_birth::Int64
    fast::Bool
end

In [217]:
julia_mutable = MutLanguage("Julia", "Rapidus", 2012, true)
printLanguage(julia_mutable)

julia_mutable.title = "Python Obliteratus"
printLanguage(julia_mutable)

Type: MutLanguage; Name: Julia, Title: Rapidus, Year: 2012, Fast: Yes
Type: MutLanguage; Name: Julia, Title: Python Obliteratus, Year: 2012, Fast: Yes

# ‚ùó Operators

They are 3 operators:
* ```!```: **NOT**
* ```&&```: **AND**
* ```||```: **OR**

In [218]:
!true

false

In [219]:
(false && true) || (!false)

true

In [220]:
(6 isa Real) && (6 isa Int64)

true

## Numeric operators

1. **Equality**
    * == "equal"
    * != or ‚â† "not equal
2. **Less Than**
    * < "less than"
    * <= or ‚â§ "less than or equal to"
3. **Greater Than**
    * \> "greater than"
    * \>= or ‚â• "greater than or equal to"

In [221]:
1 == 1

true

In [222]:
1 >= 10

false

Between types

In [223]:
1 == 1.0

true

In [224]:
(1 != 10) || (3.14 <= 2.71)

true

# üÜí Functions

In [225]:
function function_name(arg1, arg2)
    result = "Do stuff"
    return result
end

function_name (generic function with 1 method)

In [226]:
function logarithm(x::Real, base::Real = 2.7182818284590)
    return log(base, x)
end

logarithm (generic function with 2 methods)

In [227]:
function_name("abc", "mummy")

"Do stuff"

In [228]:
f_name(a::Int64, b::Int64) = a + b

f_name (generic function with 1 method)

In [229]:
f_name(4, 6)

10

# For loop

In [230]:
for i in 1:10
    println(i)
end

1
2
3
4
5
6
7
8
9
10

# While Loop

In [231]:
n = 0
while n < 3
    global  n += 1
    println(n)
end

1
2
3

# Native Data

Julia has several native data structures. They are abstractions of data that represent some form of structured data. They hold homogeneous or heterogeneous data. Since they are collections, they can be looped over with the for loops.

Data Types:
* ```String```
* ```Tuple```
* ```NamedTuple```
* ```UnitRange```
* ```Arrays```
* ```Pair```
* ```Dict```
* ```Symbol```

## Broadcasting Operators and Functions

We can broadcast mathematical operations like ```*``` (multiplication) or ```+``` (addition) using the dot operator. For example, broadcasted addition would imply a change from ```+``` to ```.+```:

In [232]:
[1, 2, 3] .+ 1

3-element Vector{Int64}:
 2
 3
 4

It also works automatically with functions.

In [233]:
logarithm.([1, 2, 3])

3-element Vector{Float64}:
 0.0
 0.6931471805599569
 1.0986122886681282

## Functions with a bang ```!```

It is a Julia convention to append a bang ```!``` to names of functions that modify one or more of their arguments. This convention warns the user that the function is **not pure**, i.e., that it has *side effects*. A function with side effects is useful when you want to update a large data structure or variable container without having all the overhead from creating a new instance.

In [234]:
function add_one!(V)
    for i in eachindex(V)
        V[i] += 1
    end
    
    return nothing
end

add_one! (generic function with 1 method)

In [235]:
data = [1, 2, 3]
add_one!(data)

data

3-element Vector{Int64}:
 2
 3
 4

## Strings

In [236]:
typeof("This is String")

String

In [237]:
text = "
This is a big multiline string.
As you can see.
It is still a String to Julia.
"

println(typeof(text))
println(text)

String

This is a big multiline string.
As you can see.
It is still a String to Julia.

In [238]:
s = """
    This is a big multiline string with a nested "quotation".
    As you can see.
    It is still a String to Julia.
    """

println(typeof(s))
println(s)

String
This is a big multiline string with a nested "quotation".
As you can see.
It is still a String to Julia.

## String Concatenation

It is ```*``` not ```+```

In [239]:
hello = "Hello"
goodbye = "Goodbye"

hello * goodbye

"HelloGoodbye"

In [240]:
join([hello, goodbye], " ")

"Hello Goodbye"

In [241]:
println("$hello $goodbye")

Hello Goodbye

## String Manipulation

In [242]:
julia_string = "Julia is an amazing open source programming language"

"Julia is an amazing open source programming language"

In [243]:
contains(julia_string, "Julia")

true

In [244]:
startswith(julia_string, "Julia")

true

In [245]:
endswith(julia_string, "Julia")

false

In [246]:
lowercase(julia_string)

"julia is an amazing open source programming language"

In [247]:
uppercase(julia_string)

"JULIA IS AN AMAZING OPEN SOURCE PROGRAMMING LANGUAGE"

In [248]:
titlecase(julia_string)

"Julia Is An Amazing Open Source Programming Language"

In [249]:
split(julia_string, " ")

8-element Vector{SubString{String}}:
 "Julia"
 "is"
 "an"
 "amazing"
 "open"
 "source"
 "programming"
 "language"

### String to a number

In [250]:
parse(Int64, "123")

123

In [251]:
# Error - parse(Int64, "asd")

In [252]:
tryparse(Int64, "asd")

In [253]:
tryparse(Int64, "1abc")

# Dictionaries

In [254]:
my_dict = Dict([("one", 1), ("two", 2)])

Dict{String, Int64} with 2 entries:
  "two" => 2
  "one" => 1

In [255]:
my_dict = Dict("one" => 1, "two" => 2)

Dict{String, Int64} with 2 entries:
  "two" => 2
  "one" => 1

In [256]:
my_dict["one"]

1

In [257]:
my_dict["three"] = 3

3

In [258]:
my_dict["three"]

3

In [259]:
"two" in keys(my_dict)

true

In [260]:
delete!(my_dict, "three")

Dict{String, Int64} with 2 entries:
  "two" => 2
  "one" => 1

In [261]:
popped_value = pop!(my_dict, "two") # Keep deleted value

2

In [262]:
A = ["one", "two", "three"]
B = [1, 2, 3]

my_dict = Dict(zip(A, B))

my_dict

Dict{String, Int64} with 3 entries:
  "two"   => 2
  "one"   => 1
  "three" => 3

# Splat operator

In Julia You can convert array into sequence of arguments with ...

In [263]:
my_collection = [1, 2, 3]
add_elements(a, b, c) = a + b + c

add_elements (generic function with 1 method)

In [264]:
# before
add_elements(my_collection[1], my_collection[2], my_collection[3])

6

In [265]:
# after
add_elements(my_collection...)

6

# Julia Dates

## ```Date``` and ```DateTime``` Types

The ```Dates``` standard library module has two types for working with dates:
1. ```Date```: representing time in days
2. ```DateTime```: representing Time in millisecond precision

In [266]:
Date(1987) # year

1987-01-01

In [267]:
Date(1987, 9) # year, month

1987-09-01

In [268]:
Date(1987, 9, 13) # year, month, day

1987-09-13

In [269]:
DateTime(1987, 9, 13, 21) # year, month, day, hour

1987-09-13T21:00:00

In [270]:
DateTime(1987, 9, 13, 21, 21) # year, month, day, hour, minute

1987-09-13T21:21:00

In [271]:
DateTime(Year(1987), Month(9), Day(13), Hour(21), Minute(21))

1987-09-13T21:21:00

### Parsing Dates

In [272]:
Date("19870913", "yyyymmdd")

1987-09-13

In [273]:
DateTime("1987-09-13T21:21:00", "yyyy-mm-ddTHH:MM:SS")

1987-09-13T21:21:00

In [274]:
Date("19870913", dateformat"yyyymmdd")

1987-09-13

In [275]:
my_birthday = Date("1987-09-13")

1987-09-13

In [276]:
year(my_birthday)

1987

In [277]:
month(my_birthday)

9

In [278]:
day(my_birthday)

13

In [279]:
yearmonth(my_birthday)

(1987, 9)

In [280]:
monthday(my_birthday)

(9, 13)

In [281]:
yearmonthday(my_birthday)

(1987, 9, 13)

In [282]:
dayofweek(my_birthday)

7

In [283]:
dayname(my_birthday)

"Sunday"

In [284]:
dayofweekofmonth(my_birthday) # Second sunday of september

2

In [285]:
my_birthday + Day(90)

1987-12-12

In [286]:
my_birthday + Day(90) + Month(2) + Year(1)

1989-02-11

In [287]:
today() - my_birthday

13231 days

In [288]:
DateTime(today()) - DateTime(my_birthday)

1143158400000 milliseconds

In [289]:
for date in Date("2021-01-01"):Day(1):Date("2021-01-07")
    println(date)
end

2021-01-01
2021-01-02
2021-01-03
2021-01-04
2021-01-05
2021-01-06
2021-01-07

In [290]:
for date in Date("2021-01-01"):Day(3):Date("2021-01-07")
    println(date)
end

2021-01-01
2021-01-04
2021-01-07

In [291]:
for date in Date("2021-01-01"):Month(1):Date("2021-03-01")
    println(date)
end

2021-01-01
2021-02-01
2021-03-01

In [292]:
date_interval = Date("2021-01-01"):Month(1):Date("2021-03-01")
typeof(date_interval)

StepRange{Date, Month}

In [293]:
collected_date_interval = collect(date_interval)

3-element Vector{Date}:
 2021-01-01
 2021-02-01
 2021-03-01

In [294]:
collected_date_interval[end]

2021-03-01

In [295]:
collected_date_interval .+ Day(10)

3-element Vector{Date}:
 2021-01-11
 2021-02-11
 2021-03-11

# Random Numbers

In [296]:
using Random: seed!

Two Functions:
* ```rand```: random element of data structure
* ```randn```: random number from standard normal distribution (mean 0 and standard deviation 1)

### rand

In [297]:
rand()

0.8651500578599819

In [298]:
rand(3)

3-element Vector{Float64}:
 0.4428718990869499
 0.8599955626711081
 0.02634484129662784

In [299]:
rand(1.0:10.0)

7.0

In [300]:
rand(2:2:20)

18

In [301]:
rand(2:2:20, 3)

3-element Vector{Int64}:
 16
  2
  4

In [302]:
rand((42, "Julia", 3.14))

3.14

In [303]:
rand([1, 2, 3])

1

In [304]:
rand(Dict(:one => 1, :two => 2))

:one => 1

In [305]:
rand(1.0:3.0, (2, 2))

2√ó2 Matrix{Float64}:
 3.0  1.0
 3.0  1.0

### randn

In [306]:
randn()

-2.556339634490588

In [307]:
randn((2, 2))

2√ó2 Matrix{Float64}:
 -0.790607   0.954368
 -0.367831  -0.163906

# üìë DataFrames

In [308]:
names = ["Sally", "Bob", "Alice", "Hank"]
grades = [1, 5, 8.5, 4]

df = DataFrame(; name= names, grade_2023= grades)

4√ó2 DataFrame
 Row ‚îÇ name    grade_2023
     ‚îÇ String  Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ Sally          1.0
   2 ‚îÇ Bob            5.0
   3 ‚îÇ Alice          8.5
   4 ‚îÇ Hank           4.0

In [309]:
function grades_2023()
    name = ["Sally", "Bob", "Alice", "Hank"]
    grade_2023 = [1, 5, 8.5, 4]

    DataFrame(; name, grade_2023)
end

df = grades_2023()

4√ó2 DataFrame
 Row ‚îÇ name    grade_2023
     ‚îÇ String  Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ Sally          1.0
   2 ‚îÇ Bob            5.0
   3 ‚îÇ Alice          8.5
   4 ‚îÇ Hank           4.0

Change contents of df

In [310]:
df = DataFrame(name= ["Malice"], grade_2023= ["10"])

1√ó2 DataFrame
 Row ‚îÇ name    grade_2023
     ‚îÇ String  String
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ Malice  10

Recover it from function

In [311]:
df = grades_2023()

4√ó2 DataFrame
 Row ‚îÇ name    grade_2023
     ‚îÇ String  Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ Sally          1.0
   2 ‚îÇ Bob            5.0
   3 ‚îÇ Alice          8.5
   4 ‚îÇ Hank           4.0

In [312]:
DataFrame(œÉ = ["a", "a", "a"], Œ¥ = [œÄ, œÄ/2, œÄ/3])

3√ó2 DataFrame
 Row ‚îÇ œÉ       Œ¥
     ‚îÇ String  Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ a       3.14159
   2 ‚îÇ a       1.5708
   3 ‚îÇ a       1.0472

In [313]:
df

4√ó2 DataFrame
 Row ‚îÇ name    grade_2023
     ‚îÇ String  Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ Sally          1.0
   2 ‚îÇ Bob            5.0
   3 ‚îÇ Alice          8.5
   4 ‚îÇ Hank           4.0

In [320]:
function grades_2023(names::Vector{Int})
    df = grades_2023()
    df[names, :]
end

grades_2023([2, 1])

2√ó2 DataFrame
 Row ‚îÇ name    grade_2023
     ‚îÇ String  Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ Bob            5.0
   2 ‚îÇ Sally          1.0

In [315]:
df

4√ó2 DataFrame
 Row ‚îÇ name    grade_2023
     ‚îÇ String  Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ Sally          1.0
   2 ‚îÇ Bob            5.0
   3 ‚îÇ Alice          8.5
   4 ‚îÇ Hank           4.0

4.3 Filter and subset